body {
    font-family: "Quicksand", sans-serif;;
    font-size: 12px;
    color: #697CA6;}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}    

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-side {
    display: flex;
    align-items: center;
    margin-right: 360px;
}
.round{
    margin-right: 73px;
    margin-left: 117px;
}

a {
    text-decoration: none;
    color: #697CA6;
}

.get-started {
    color: #3A79FF;
    padding: 13px 15px 13px 16px ;
    background-color: #D2E1FF;
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
    border: none;
    font-weight: bold;
    margin-right: 117px;
}

.social{
    margin-right: 44px;
    display: flex;
    justify-content: space-between;
    gap: 34px;
}
.plan{
    width: 90px;
    height: 12px;
    text-align: center;
    padding-top:  92px;
    margin-left: 667px;
    margin-bottom: 16px;
}


h6{
    font-family: "Roboto",sans-serif;
    font-size: 10px;
}

h1{
    font-weight: lighter;
    font-size: 48px;
    text-align: center;
    color: #3D4F9F;
    padding: 16px;

}
.productivity{
    font-weight: bold;
    font-size: 48px;
}

.nero-text{
    color: #8D96BD;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    margin-top: 16px;
    line-height: 191%; 
}

.main-info-container{
    background-image:url(assets/hero\ image\ \(2\).svg);
    background-repeat: no-repeat;
    height: 570px;
}

.small-triangle{
    display: block;
    margin: 0 auto;
    padding:  21px 20px 20px 22px;
    border-radius: 50%;
    border: 0;
    background-color: #FFFFFF;
    padding-top: 20px;
    margin-top: 20px;

}
.brute-text{
    width: 460px;
    height: 78px;
    margin: auto;
    text-align: center;
}
.div-flex{
    display: flex;
    justify-content: space-between;
    gap: 42px;
}
li {
    list-style-type: none;}

.companies-list{
    display: flex;
    margin-right: 76px;
    margin-top: 62px;
    padding: auto;
    margin-bottom: 63px;
    gap: 76px;
    margin-left: 276px;
}
.desktope-container{
    background-image: url(assets/hero_desktope.svg);
    background-repeat: no-repeat;
    width: 1440px;
}

h2{
font-weight: lighter;
    font-size: 36px;
}
.plan{
    font-weight: bolder;
    font-size: 36px;
}

.manage{
    font-weight: bolder;
    font-size: 36px;
}
.desktop{
    text-align: left;
    margin-left: 271px;
}

.plan-and-manage{
    text-align: left;
    margin-left: 271px;
    padding-top: 27px;
}