body {
    font-family: "Quicksand", sans-serif;;
    font-size: 12px;
    color: #697CA6;}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}    

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
}
.round{
    margin-right: 73px;
}

.nav-flex a {
    margin-right: 42px;
}

a {
    text-decoration: none;
    color: #697CA6;
}

.get-started {
    color: #3A79FF;
    padding: 13px 15px 13px 16px ;
    background-color: #D2E1FF;
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
    border: none;
    font-weight: bold;
}
.social a{
    margin-right: 52px;
}

h6{
    font-family: "Roboto",sans-serif;
    font-size: 10px;
    font-weight: medium;
    text-align: center;
}

h1{
    font-weight: lighter;
    font-size: 48px;
    text-align: center;
    color: #3D4F9F;
}
.productivity{
    font-weight: bold;
    font-size: 48px;
}

.nero-text{
    color: #8D96BD;
    font-family: "Roboto",sans-serif;
    text-align: center;
    font-size: 15px;
    margin-top: 28px;
    margin-right: 40px;
    margin-left: 39px;
    position: relative;

}